doctype
html(lang="en")
  include partials/head
    
  body.main-page
    include partials/header
    
    main.main
      section.title-section
        .container
          h1.title-section__title Baku - Love at first sight!
        
      section.section.section_blue.benefits
        .container.flex
          each item in benefits
            div(class="benefits__item " + item.class)
              p #{item.text}
              
      section.section
        .container.flex
          .column
            h2 Inclusions
            
            ul.u-list.u-list_inclusions
              each li in inclusionsList
                li #{li}
                
          .column
            h2 Exclusions
            
            ul.u-list.u-list_exclusions
              li Flight
              
        .container.flex.m-top-50
          .column
            h2 Cancellation policy
            p Cancellation possible 48 hours prior to arrival
                
          .column
            h2 Payment policy
            p Cash Payment upon arrival
            
      section.section.price
        .container
          h2 Prices
          
          table
            thead
              tr
                th Hotels
                th Qty
                th 8 SNGL rooms
                th 8 SNGL rooms
                
            tfoot
              tr
                td Total
                td 15 pax
                td(colspan="2")
              tr
                td Price Per 1 Person
                td 1 pax
                td(colspan="2")
                  
            tbody
              tr
                td 1. Boulevard Hotel 5* taxes included
                td 5 nights
                td 3690 $
                td 1620 $
              tr
                td 2. 4 Lunch and 1 Dinner with show
                td 75 meals
                td(colspan="2") 5310 $
              tr
                td 3. Sightseeing
                td(rowspan="3")
                td(rowspan="3", colspan="2") 1850 $
              tr
                td 4. Transfers
              tr
                td 5. Museum entries
                
      section.section.section_grey.terms
        .container
          h2 Terms & conditions
          
          ol.o-list
            each li in terms
              li !{li}
            
    include partials/footer
    
    include partials/header-sm
    
    main.main
      section.title-section
        .container
          h1.title-section__title Tour program
            
      section.section.program
        .container
          h2 Day 1 — BAKU HISTORICAL EXCURSION
          
          .program__inner
            table
              tbody
                each tr in program
                  tr
                    td #{tr.time}
                    td(class="icon " + tr.icon)
                    td #{tr.text}
                    
            h3 Description about day (if needed)
            
            p Halal tours is a relatively new trend in tourism, but it is becoming popular at a quick pace Travellers choosing halal tours may have their vacation following their Islamic beliefs, traditions, practice: all water, SPA procedures and even beaches are divided into separate ones for women and men, and cafes and restaurants have food following Halal standards and only non-alcoholic beverages
            
            figure
              img(src="img/image.jpg", alt="Azerbaijan Trips")
            
    include partials/footer
    
    include partials/header-sm-2
    
    main.main
      section.section.program
        .container
          h2 Day 2 — BAKU HISTORICAL EXCURSION
          
          .program__inner
            table
              tbody
                each tr in program
                  tr
                    td(class="icon " + tr.icon)
                    td #{tr.text}
            
    include partials/footer
